@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    float: left;
    display: block;
    background-color: #FFFFFF;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
.header_div {
    background-image: url(assets/su_logo.gif);
    height: 110px;
    margin-top: 10px;
    background-repeat: no-repeat;
}
.nav_div {
	width: 30%;
	float: left;
	border-top-width: thin;
	border-top-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-left-width: thin;
	text-indent: 3px;
}
.nav_ul {
	width: 100%;
	background-color: #A1D7E5;
	list-style-type: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-left: 0;
}
.fluid.nav_div .fluid.fluidList.nav_ul li {
	border-bottom: thin solid #211E1E;
}
.nav_ul_li {
}
.intro_paragraph {
    width: 100%;
    float: none;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    clear: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.intro_paragraph p,
.intro_paragraph h1,
.intro_paragraph h2,
.intro_paragraph h3,
.intro_paragraph ul,
.intro_paragraph ol {
    padding-left: 3%;
    padding-right: 3%;
}
.intro_paragraph p:first-of-type {
    margin-top: 16px;
}
.intro_paragraph audio {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
}
.cafe_intro_group {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 16px;
    margin-bottom: 0;
}
.cafe_intro_group .cafe_intro_space {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.feedback_heading {
    text-align: center;
    margin-bottom: 0;
}
.feedback_intro {
    padding-top: 10px;
    margin-top: 0;
}

ul li a:hover {
    color: #A78B6A;
    background-color: #FFD195;
}

.paragraph_text {
	width: 50%;
	display: block;
	float: right;
	vertical-align: top;
	clear: right;
}
.footer_div {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	text-align: center;
	background-color: #FFD9A8;
	margin-top: 10px;
}
.img_div {
	margin-top: 10px;
	text-align: center;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

.list_headings {
    color: #000033;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: large;
}

h1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: x-large;
}

h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

h3 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}
.img_float {
    float: none;
    border: thin solid #5F5858;
    margin-top: 10px;
    margin-right: 3%;
    margin-bottom: 10px;
    margin-left: 3%;
}
.img_float_right {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: thin solid #312E2E;
    float: none;
}
ul li a {
    width: 100%;
    text-decoration: none;
}
li {
    display: inline;
    padding-right: 1%;
    padding-left: 1%;
}
.menu_bar {
    text-align: center;
    background-color: #8FCDE3;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
table {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: small;
}
table th {
    text-align: center;
}
table td {
    padding-right: 20px;
}
textarea {
    width: 100% !important;
    box-sizing: border-box;
}
.body_text {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 16px;
}
tr td img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.feature_item {
    color: #000033;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: large;
    text-align: center;
    width: 25%;
}
.contact_info {
    color: #000000;
    font-style: italic;
    font-size: small;
}
hr {
    border-top: thin solid #000066;
}
td {
    vertical-align: top;
}
.flash_float {
    float: left;
}
#canvas {
    display: inline;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
.intro_paragraph #canvas {
    margin-top: 16px;
}














/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
.header_div {
    margin-top: 10px;
    background-image: url(assets/su_banner.gif);
    height: 150px;
    background-repeat: repeat-x;
}
.nav_div {
width: 30%;
}
.nav_ul {
width: 100%;
margin-left: 0;
}
.nav_ul_li {
}
.intro_paragraph {
}
.paragraph_text {
}
.footer {
}
.img_div {
}
.zeroMargin_tablet {
margin-left: 0;
}
.hide_tablet {
display: none;
}
.img_float {
    float: left;
}
.img_float_right {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
    border: thin solid #312E2E;
}
ul li a {
    width: 100%;
    text-decoration: none;
}
table {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: small;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 975px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.header_div {
}
.nav_div {
width: 30%;
}
.nav_ul {
width: 100%;
margin-left: 0;
}
.nav_ul_li {
}
.intro_paragraph {
}
.paragraph_text {
}
.footer {
}
.img_div {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
ul li a {
	width: 100%;
	text-decoration: none;
	padding-left: 4%;
	padding-right: 4%;
}
table {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: medium;
}
}

body {
    background-image: url(assets/water.jpg);
}
ul li a:hover {
    background-color: #FFD195;
    color: #A78B6A;
}
